
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(241, 208, 208);
    background-color: rgba(39, 99, 45, 0.811);
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}